@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  transition: 0.4s;
}

// VARIABLES START
$color1: #283046;
$color2: #f4f0ec;
$color3: #313d5f;
$color4: #f0e8de;
$color5: #181a26;
$color6: #eae6e1;
$color7: #c3baaf;
$color8: #d0d2d6;
$color9: #161d31;
// VARIABLES END

// GLOBAL START
html {
  width: 100%;
  font-size: 100%;
}
@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 668px) {
  html {
    font-size: 95%;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 475px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 75%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

p {
  margin-bottom: 0px;
}

.pointer {
  cursor: pointer;
}

// COLORS
.color1 {
  color: $color1;

  &:hover {
    color: $color1;
  }
}

.bg_color1 {
  background: $color1;
}

.color2 {
  color: $color2;

  &:hover {
    color: $color2;
  }
}

.bg_color2 {
  background: $color2;
}

.color3 {
  color: $color3;

  &:hover {
    color: $color3;
  }
}

.bg_color3 {
  background: $color3;
}

.color4 {
  color: $color4;

  &:hover {
    color: $color4;
  }
}

.bg_color4 {
  background: $color4;
}

.color5 {
  color: $color5;

  &:hover {
    color: $color5;
  }
}

.bg_color5 {
  background: $color5;
}

.color6 {
  color: $color6;

  &:hover {
    color: $color6;
  }
}

.bg_color6 {
  background: $color6;
}

.color7 {
  color: $color7;

  &:hover {
    color: $color7;
  }
}

.bg_color7 {
  background: $color7;
}

.color8 {
  color: $color8;

  &:hover {
    color: $color8;
  }
}

.bg_color8 {
  background: $color8;
}

.color9 {
  color: $color9;

  &:hover {
    color: $color9;
  }
}

.bg_color9 {
  background: $color9;
}

.pink_bg {
  background: #eab1b8;
}

.green_bg {
  background: #9ed690;
}

.yellow_bg {
  background: #eae098;
}

.lightgreen_bg {
  background: #c7dad0;
}

.ferozi_bg {
  background: #8bc3c4;
}

.color_circle {
  min-width: 18px;
  min-height: 18px;
  border-radius: 50px;
}

a:link {
  text-decoration: none;
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

// INPUT START
.custom-field {
  position: relative;
  font-size: 0.875rem;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
  width: 100%;

  .lock {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
  }
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 0.875rem;
  color: $color4;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 27px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #f0e8de;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 0.625rem;
  color: $color4;
}

/* ONE */
.custom-field.one input {
  width: 100%;
  background: none;
  border: 3px solid #3c4869;
  transition: border-color 0.3s ease;
  border-radius: 6px;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: #3c4869;
  transition-delay: 0.1s;
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 15px;
  color: $color4;
  background: #283046;
  width: auto;
}

.placeholder {
  background-color: #283046;
  cursor: text;
}

.placeholder {
  opacity: 1;
  color: $color4;
}
// INPUT END

// LOGIN START
.login_container {
  background: #283046;
  height: 100vh;
  width: 100vw;
  display: flex;
  width: 100%;
  overflow: hidden;

  .login-left {
    display: flex;
    width: 50%;

    .inner-left {
      height: 100vh;
      justify-content: space-around;
      width: 70%;
      margin: auto;

      .d-flex {
        gap: 2rem;
      }

      button {
        background: #f0e8de;
        height: 48.27px;
      }
    }

    .logo {
      max-width: 70px;
    }
  }

  .login-right {
    position: relative;
    width: 50%;

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60%;
      color: #fff;
      font-weight: 600;
      transform: translate(-50%, -50%);
    }
    img {
      height: 100vh;
      width: 100%;
    }
  }
}
// LOGIN END

// REGISTER START
.register_container {
  position: fixed;
  left: 0%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  width: 100vw;
  z-index: 10;
  padding: 2rem;
  height: 100vh;
  background: #283046d5;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner_register_container {
    background: #283046;
    border-radius: 20px;
    padding: 2rem 1rem;
    border: 1px solid rgba(204, 204, 204, 0.274);
    position: relative;
    max-height: 95vh;
    overflow-y: auto;

    .cross {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      color: $color4;
      font-size: x-large;
      cursor: pointer;
    }

    .form_container {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
// REGISTER END

// HOME START
.home_container {
  background-image: linear-gradient(#283046e8, #283046e8),
    url("../assets/images/home.jpg");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .navigation {
    &:hover {
      transform: translateX(-10px);
    }

    .icon {
      background: $color2;
      min-height: 85px;
    }
    .content {
      border: 1px solid $color2;
    }
  }
}
// HOME END

// RESPONSIVES START
@media screen and (max-width: 1100px) {
  .login_container {
    .login-right {
      display: none;
    }

    .login-left {
      width: 100%;

      .inner-left {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .register_container {
    align-items: initial;

    .inner_register_container {
      max-height: 80vh;
      overflow-y: auto;
    }
  }
}

@media screen and (max-width: 575px) {
}
